# Core functionality - changes here should be rare!
/src/app.py                   @dblh90
/src/backend/database.py      @dblh90
/src/backend/routers/auth.py  @dblh90

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dblh90
